<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?define VersionNumber="!(bind.FileVersion.MAINEXE)" ?>
  <?define UpgradeCode="{F5A29819-944E-46A6-8791-D8BF55018999}" ?>
  <?define InfoURL="https://sourceforge.net/projects/pdfmerge/" ?>
  
  <Product Id="*" 
             Name="!(loc.ApplicationName)" 
             Language="!(loc.Language)" 
             Version="$(var.VersionNumber)" 
             Manufacturer="!(loc.ManufacturerFullName)" 
             UpgradeCode="$(var.UpgradeCode)" >

      <Package Id="*" 
               InstallerVersion="200" 
               Compressed="yes" 
               InstallScope="perMachine"  
               Description="!(loc.ProductDescription)" 
               Comments="!(loc.Comments) $(var.VersionNumber)" />


    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)"/>

    <MediaTemplate EmbedCab="yes" />

    <!--<WixVariable Id="WixUILicenseRtf" Value="eula-en.rtf" />-->

    <Feature Id="ProductFeature" Title="PdfMerge" Level="1">
      <ComponentRef Id="ProductComponents" />
      <ComponentRef Id="ProductLocDe" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>

    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
      <UIRef Id="WixUI_InstallDir" />      
    </UI>    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="PdfMerge">
          <Directory Id="APPLICATION_LOC_DE" Name="de"/>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PdfMerge"/>
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop"></Directory>
      
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="ProductComponents" Guid="{F5A29819-944E-46A6-8791-D8BF5501899C}">
        <File Id="MAINEXE" Source="$(var.PdfMerge.TargetPath)" KeyPath="yes" Checksum="yes"/>
        <File Id="PDFSHARP" Source="$(var.PdfMerge.TargetDir)PdfSharp.dll" KeyPath="no" Checksum="yes"/>
        <File Id="PDFSHARPCHARTING" Source="$(var.PdfMerge.TargetDir)PdfSharp.Charting.dll" KeyPath="no" Checksum="yes"/>
        <File Id="ITEXTSHARP" Source="$(var.PdfMerge.TargetDir)iTextSharp.dll" KeyPath="no" Checksum="yes"/>
        <File Id="READMEDOC" Source="readme.doc" KeyPath="no" Checksum="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="APPLICATION_LOC_DE">
      <Component Id="ProductLocDe" Guid="{F5A29819-944E-46A6-8791-D8BF5501899D}">
        <File Id="PDFSHARPRES" Source="$(var.PdfMerge.TargetDir)\de\PdfSharp.resources.dll" KeyPath="no" Checksum="yes"/>
        <File Id="PDFSHARPCHARTINGRES" Source="$(var.PdfMerge.TargetDir)\de\PdfSharp.Charting.resources.dll" KeyPath="no" Checksum="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{F5A29819-944E-46A6-8791-D8BF5501899E}">
        <Shortcut Id="ApplicationStartMenuShortcutExe" Name="PdfMerge" Description="PdfMerge" Target="[#MAINEXE]" WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="ApplicationStartMenuShortcutReadme" Name="PdfMerge Information" Description="PdfMerge License and Help" Target="[#READMEDOC]" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\PdfMerge\PdfMerge" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{F5A29819-944E-46A6-8791-D8BF5501899F}">
        <Shortcut Id="ApplicationDesktopShortcut" Directory="DesktopFolder" Name="PdfMerge" Description="PdfMerge" Target="[#MAINEXE]" WorkingDirectory="APPLICATIONROOTDIRECTORY" Advertise="no"/>
        <RemoveFolder Id="RemoveDesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\PdfMerge\PdfMerge" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>